* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.2;
}

h2 {
  font-size: calc(1.325rem + .9vw);
  line-height: 1.2;
}

h3 {
  font-size: calc(1.3rem + .6vw);
  line-height: 1.2;
}

h4 {
  font-size: calc(1.275rem + .3vw);
  line-height: 1.2;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
}

.wrapper {
  display: block;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
}

header {
  height: 70px;
}

.navbar {
  height: 70px;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}
.navbar img {
  height: 30px;
}
.navbar a {
  padding: 5px;
  color: black;
}

.search-box {
  width: 25%;
  min-width: 250px;
}
.search-box .search-micro {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  border-radius: 50px;
  font-size: 17px;
}
.search-box button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-box input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: calc(100% - 99px);
  border: 1px solid #EBEBEB;
}
.search-box input[type=text]:focus {
  border: 1px solid #5EBEE7;
}
.search-box button:hover {
  background-color: #A6A6A6;
}
.search-box .search-micro:hover {
  background-color: #A6A6A6;
}

.menu {
  display: flex;
  align-items: center;
}
.menu .dropdown-btn {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #F2AC43;
  width: 30px;
  border-radius: 50px;
}
.menu a:hover {
  color: blue;
}

.dropdown {
  margin: 15px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}
.dropdown .fa-paw {
  color: black;
  margin: 0 auto;
}

.dropdown-child {
  display: none;
  background-color: white;
  min-width: 200px;
}
.dropdown-child a {
  border: 1px solid #EBEBEB;
  color: black;
  padding: 20px;
  display: block;
}
.dropdown-child a:hover {
  background-color: #E7E8E9;
  color: #000;
}
.dropdown-child a:last-child {
  color: red;
}

.dropdown:hover .dropdown-btn {
  background-color: #E7E8E9;
}
.dropdown:hover .dropdown-child {
  top: 52px;
  right: 40px;
  position: fixed;
  display: block;
}

aside {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  width: 240px;
  justify-content: space-between;
  height: calc(100% - 70px);
  background-color: #EBEBEB;
}
aside .aside__section__first {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}
aside .aside__section__first::-webkit-scrollbar {
  width: 5px;
}
aside .aside__section__first::-webkit-scrollbar-thumb {
  background-color: #EBEBEB;
  width: 5px;
  border-radius: 15px;
}
aside .aside__section__first:hover::-webkit-scrollbar-thumb {
  background-color: #979DAD;
}
aside .section__item {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
}
aside .section__item .circle {
  position: absolute;
  left: 154px;
  top: 9px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 black;
  margin: 10px;
  height: 12px;
  width: 12px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  background: #ff5252;
  box-shadow: 0 0 0 0 #ff5252;
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
aside .section__item .name {
  width: 100px;
  float: right;
}
aside .section__item img {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 5px;
}
aside .section__item:hover {
  background-color: #fff;
}
aside .aside__section__second {
  vertical-align: bottom;
  border-top: 1px solid #FFF;
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
aside .aside__section__second a {
  color: black;
}
aside .aside__section__second a:hover {
  color: blue;
}
aside .aside__section__second .item {
  background-color: #A7A7A7;
  border-radius: 12px;
  padding: 15px;
}
aside .aside__section__second .item .networks {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-size: 30px;
}
aside .aside__section__second .item p::selection {
  color: #fff;
  background-color: #F2AC43;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  left: 240px;
  width: calc(100% - 240px);
}
.content .category {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.content .category::-webkit-scrollbar {
  display: none;
}
.content .category a {
  color: #000;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 30px;
  background-color: #EBEBEB;
  border: 1px solid #C2C2C2;
}
.content .category a:active {
  background-color: #F2AC43;
  color: #fff;
}
.content .category a:first-child {
  background-color: #F2AC43;
  color: #fff;
}
.content .category a:hover {
  background-color: #D3D3D3;
}
.content .slider {
  width: 80%;
}
.content .container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  margin: 50px;
}
.content .container .container__item {
  position: relative;
  width: 100%;
}
.content .container .container__item img {
  z-index: 0;
  width: 100%;
}
.content .container .play-btn {
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.content .container .play-btn img {
  width: 40px;
  height: 40px;
}
.content .container .image {
  position: relative;
  z-index: 0;
}
.content .container .image a {
  color: #fff;
}
.content .container .image:after {
  content: " ";
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
}
.content .container .image:hover:after {
  opacity: 0.6;
}
.content .container .image:hover .play-btn {
  opacity: 1;
}
.content .container .live {
  position: absolute;
  z-index: 1;
  background-color: red;
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
}
.content .container .live a {
  color: #fff;
}
.content .container .views {
  position: absolute;
  background-color: black;
  color: #fff;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  padding: 0 4px;
  margin: 5px;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0.7;
}
.content .container .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content .container .info .options {
  float: right;
}
.content .container .info .name {
  text-overflow: ellipsis;
  padding-top: 10px;
  width: 220px;
}
.content .container .info .name a:last-child {
  font-size: 15px;
  color: #8C8C8C;
}
.content .container .info .name a:first-child {
  font-size: 20px;
  color: #000;
}
.content .container .info .name a:hover {
  color: blue;
}
.content .container .info .avatar img {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px;
  width: 40px;
}

footer {
  flex: 0 0 auto;
}
footer .reserved {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.carousel-items, .carousel-labels {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.carousel-item {
  display: block;
  float: left;
}

.carousel-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 30%;
  background-color: #eee;
  overflow: hidden;
}

.carousel-items {
  width: 300%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
}

.carousel-item {
  width: 33.33333333%;
  height: 100%;
  color: white;
}

.carousel-item-blue {
  background-color: blue;
}

.carousel-item-red {
  background-color: red;
}

.carousel-item-green {
  background-color: green;
}

.carousel-labels {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.carousel-selector {
  display: none;
}

.carousel-label {
  display: inline-block;
}

.carousel-label label {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  display: block;
  cursor: pointer;
}

#slide1:checked ~ .carousel-items {
  left: 0;
}

#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
  background-color: black;
}

#slide2:checked ~ .carousel-items {
  left: -100%;
}

#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
  background-color: black;
}

#slide3:checked ~ .carousel-items {
  left: -200%;
}

#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .section__item .name, .section__item .circle, .section__item .views {
    display: none;
  }

  aside {
    width: 50px;
  }

  .aside__section__second {
    display: none;
  }

  .content {
    left: 50px;
    width: calc(100% - 50px);
  }
}
@media screen and (max-width: 968px) {
  body {
    background-color: #fff;
  }

  .container {
    grid-template-columns: repeat(2, 50%);
  }
}