*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body
{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body{
    line-height: 1.5;
}
h1{
    font-size: calc(1.375rem + 1.5vw);
    line-height: 1.2;
}
h2{
    font-size: calc(1.325rem + .9vw);
    line-height: 1.2;
}
h3{
    font-size: calc(1.3rem + .6vw);
    line-height: 1.2;
}
h4{
    font-size: calc(1.275rem + .3vw);
    line-height: 1.2;
}
h5{
    font-size: 1.25rem;
    line-height: 1.2;
}
h6{
    font-size: 1rem;
    line-height: 1.2;
}
.wrapper{
    display: block;
    margin: 0 auto;
}
