@import "nullstyle.scss";
@import "colors.scss";



* {box-sizing: border-box;}
body{
	font-family: 'Architects Daughter', cursive;

}

header{
	height: 70px;
}
.navbar{
	height: 70px;
	width: 100%;
	z-index: 3;
	position: fixed;
	top:0;
	background-color:white;
	
	box-shadow: 0 4px 10px rgba(0,0,0,.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px 0 30px;
	img{
		height: 30px;
	}
	a{
		padding: 5px;
		color: black;
	}
}

.search-box{
	
	width: 25%;
	min-width: 250px;

	.search-micro{
	  float: left;
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  border-radius: 50px;
	  font-size: 17px;
	  
	}
	
	button {
	  float: right;
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  font-size: 17px;
	  border: none;
	  cursor: pointer;
	} 

	input[type=text] {

		  padding: 6px;
		  margin-top: 8px;
		  font-size: 17px;
		  border: none;
		  width: calc(100% - 99px);
		  border: 1px solid $grey;

	}
	input[type=text]:focus{
		border: 1px solid #5EBEE7; 
	}
	button:hover{
		background-color: #A6A6A6;
	}
	.search-micro:hover{
		background-color: #A6A6A6;
	}
}

.menu{
	display: flex;
	align-items: center;
	.dropdown-btn{
		display: flex;
		align-items: center;
		height: 30px;
		background-color: #F2AC43;
		width: 30px;
		border-radius: 50px;
	}
	a:hover{
		color: blue;
	}
	
}
    
.dropdown {
	margin: 15px;
	display: flex;
	align-items: center;
	.fa-paw{
		color: black;
		margin: 0 auto;
		
	 
	}
	display: flex;
	align-items: center;
	
    position: relative;
    display: inline-block;

}

.dropdown-child{
	display: none;
    background-color: white;
    min-width: 200px;
	
	a {
		border: 1px solid $grey;
	    color: black;
	    padding: 20px;
	    display: block;

	}
	a:hover{
		background-color: #E7E8E9;
		color: #000;
	}
	a:last-child{
		color:red;
		
	}
} 
.dropdown:hover{
	.dropdown-btn{
		background-color: #E7E8E9;
	}
	.dropdown-child {
		top:52px;
		right: 40px;
		position: fixed;
	    display: block;
	}

} 
aside{

	z-index: 0;
	display: flex;

	flex-direction:column;
	position: fixed;
	top:70px;
	width: 240px;

	justify-content: space-between;
	height: calc(100% - 70px);
	
	background-color: $grey;

	.aside__section__first{

		display: flex;

		flex-direction:column;
		overflow: auto;
		overflow-x:hidden;

	
		&::-webkit-scrollbar{
		
			width:5px ;
		}
		&::-webkit-scrollbar-thumb{
			background-color:$grey;
			width: 5px;
			border-radius: 15px;

		}
	}
	.aside__section__first:hover::-webkit-scrollbar-thumb{
		background-color:#979DAD;
	}

	.section__item{
		display: flex;
		position: relative;
		justify-content: space-around;
		padding: 10px;
		.circle {
			position: absolute;
			left: 154px;
			top:9px;
			background: black;
			border-radius: 50%;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
			margin: 10px;
			height: 12px;
			width: 12px;
			transform: scale(1);
			animation: pulse-black 2s infinite;	
			background: rgba(255, 82, 82, 1);
			box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
			animation: pulse-red 2s infinite;
		}

		@keyframes pulse-red {
		  0% {
		    transform: scale(0.95);
		    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
		  }
		  
		  70% {
		    transform: scale(1);
		    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
		  }
		  
		  100% {
		    transform: scale(0.95);
		    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
		  }
		}
		.name{
			width: 100px;
			float: right;
		}
		img{
			display: flex;
			align-items: center;
			height: 30px;
			margin: 5px;
		}
		cursor: pointer;
		&:hover{
			background-color: #fff;
		}
	}
	.aside__section__second{
		vertical-align:bottom;
		
		border-top: 1px solid #FFF;
		width: 100%;
		height: 200px;
		padding: 20px;
		font-size: 18px;
		margin-bottom: 20px;
		text-align: center;
		a{
			color: black;
			&:hover{
				color: blue;
			}
		}
		.item{
			background-color:#A7A7A7;
			border-radius: 12px;
			padding: 15px;
			.networks{
				display: flex;
				justify-content: space-around;
				margin: 20px;
				font-size: 30px;
			}
			p::selection{
				color: #fff;
				background-color:#F2AC43;
			}
		}
	}
}

.content{
	display: flex;
	flex-direction:column;
	position: relative;
	align-items: center;
	height: 100%;
	left:240px;
	width: calc(100% - 240px);
	.category{
		display: flex;
		overflow: auto;
		width: 100%;
		height: 50px;
		padding: 10px;
		&::-webkit-scrollbar{
			display: none;
		}
		a{
			color: #000;
			padding: 0 10px;
			margin: 0 10px;
			border-radius: 30px;
			background-color: $grey;
			border: 1px solid #C2C2C2;
			&:active{
				background-color:#F2AC43;
				color:#fff;
			}
			&:first-child{
				background-color:#F2AC43;
				color:#fff;
			}
			&:hover{
				background-color: #D3D3D3;
			}

		}	
	}
	.slider{
		
		width: 80%;
	
		
	}
	.container{
	
		display: grid;
		justify-content: center;
		grid-template-columns:repeat(auto-fill, 30%) ;
		grid-gap: 10px;
		width: 100%;
		height: 100%;
		
		margin: 50px;
		.container__item{

			position: relative;
			width: 100%;
			
			img{
				z-index: 0;
				width: 100%;
			}
			&:hover{
				//opacity: ;
			}
			
		}
		.play-btn{
			position: absolute;
			top: 40%;
			left: 40%;
			background-color: #fff;
			border-radius: 50px;
			padding: 5px;
			opacity: 0;
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			transition: opacity 0.3s;
			img{
				width: 40px;
				height: 40px;

			}
			
			
		}
		.image{
			a{
				color: #fff;
			}
			position: relative;
			z-index: 0;
			&:after{
				content: ' ';
				background-color: #000;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				-webkit-transition: opacity 0.3s;
				-moz-transition: opacity 0.3s;
				-o-transition: opacity 0.3s;
				-ms-transition: opacity 0.3s;
				transition: opacity 0.3s;
				width: 100%;
			}
			&:hover:after{
				opacity: 0.6;

			}
			&:hover{
				.play-btn{
					opacity: 1;
				}
			}
		}
		.live{
			position: absolute;
			z-index: 1;
			background-color: red;
			padding: 0 4px ;
			margin: 5px;
			border-radius: 5px;
			font-size: 13px;
			a{
				color: #fff;
			}

		}

		.views{
			position: absolute;

			background-color: black;
			color: #fff;
			z-index: 2;
    		bottom: 8px;
    		right: 8px;
    		padding: 0 4px;
			margin: 5px;
			font-size: 12px;
			border-radius: 5px;
			opacity: 0.7;
		}
		.info{
			display: flex;
			align-items: center;
			justify-content: space-around;
			.options{
				float: right;

			}
			.name{
				text-overflow: ellipsis;
				padding-top: 10px;
				width: 220px;
				a:last-child{
					font-size: 15px;
					color: #8C8C8C;
				}
				a:first-child{
					font-size: 20px;
					color: #000;
				}
				a:hover{
					color: blue;
				}

			}
			.avatar{
				img{
					display: flex;
					align-items: center;
					height: 40px;
					margin: 10px;
					width: 40px;
				}
			}
		}

	
	}
	
	
}
footer{
	flex: 0 0 auto;
  	

	.reserved{
		display: flex;
		align-items: center;
		padding-bottom: 40px;
	}
}
.carousel-items, .carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.carousel-item {
	display: block;
	float: left;
}

.carousel-wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 30%;
	background-color: #eee;
	overflow: hidden;
}
.carousel-items {
	width: 300%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: 33.33333333%;
	height: 100%;
	color: white;
}
.carousel-item-blue {
	background-color: blue;
}
.carousel-item-red {
	background-color: red;
}
.carousel-item-green {
	background-color: green;
}
.carousel-labels {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.carousel-selector {
	display: none;
}
.carousel-label {
	display: inline-block;
}
.carousel-label label {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: white;
	display: block;
	cursor: pointer;
}

#slide1:checked ~ .carousel-items {
	left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
	background-color: black;
}
#slide2:checked ~ .carousel-items {
	left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
	background-color: black;
}
#slide3:checked ~ .carousel-items {
	left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
	background-color: black;
}

@media screen and (max-width: 1200px){
	.section__item{
		.name,.circle,.views{
		display: none;
		}
	}
	aside{
		width: 50px;
	}
	.aside__section__second{
		display: none;
	}
	.content{
		left: 50px;
		width: calc(100% - 50px);
	}
}

@media screen and (max-width: 968px){
	body{
		background-color: #fff;
	}
	.container{
		grid-template-columns:repeat(2, 50%) ;
	}
}
